<div class="scrollable ng-scope">
  <div class="scrollable-content section">
    <h2>Thank You!</h2>
    <div class="alert alert-success">
      <p class="well lead">Please complete your registration by clicking the link we sent you to your email.</p>
    </div>
    <form class="ng-pristine form-horizontal">
      <div class="form-group form-group-sm">
        <div class="col-xs-4">
          <button ng-click="goLogin()" class="btn btn-primary btn-block">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
